<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <link rel="stylesheet" href="page.css" type="text/css">
    <meta charset="utf-8">
    <title>ネコ座空想科学製作所 -Home</title>
  </head>
  <body class="bg">
      test
  </body>
</html>
